<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Structured GAE app with ndb (Datastore wrapper library)</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Structured GAE app with ndb (Datastore wrapper library)</h1>

    <p>
        Enter your message:

        <form method="post" action="/">
            <input type="text" name="message">
            <button type="submit">Submit</button>
        </form>
    </p>

    {% for item in messages %}
    <p>{{ item.text }}</p>
    {% endfor %}

</body>
</html>
